# QtCreator CMake
CMakeLists.txt.user*

### VisualStudioCode ###
# exclude everything
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# Ignore all log and build
build*/
log*/
rosqt/build*/
rosqt/log*/
rosqt/IF/build*/
rosqt/IF/log*/


# Top-level build/install
/build/
/install_lin/

# rosqt build/install/artifacts
/rosqt/build/
/rosqt/install_lin/
/rosqt/recordings/

# rosqt/IF build/install
/rosqt/IF/build/
/rosqt/IF/install_lin/

